@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
/*  ========================================

  CSS Reset: 

http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)

    ========================================
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background: none;
}

/*

  ========================================

  Box-sizing

  ========================================

*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* ===== FONTS ===== */
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display&display=swap"); */

:root {
  /* ===== COLORS =====*/
  /* --color-primary: rgb(0, 230, 104); */
  --color-primary: #20ff85;
  /* --color-primary: #00dc82; */
  --color-bg: rgba(37, 44, 59);
  --color-bg: #444857;
  --color-bg: #3e414e;
  --color-bg: #686563;
  --color-bg: #041819;
  --color-header: #33353f;
  --color-scrollbar: #2b2c34;
  --color-menu: #444857;
  --color-secondary: rgb(255, 255, 255);
  --color-tertiary: rgb(0, 32, 96);

  /* ===== FONTSIZE */
  --hero-logo-font-size: clamp(3rem, 4vw, 7rem);
  --logo-font-size: clamp(2rem, 4vw, 3.5rem);
  --sublogo-font-size: clamp(0.75rem, 1vw, 1.5rem);
  --h2-hero-font-size: clamp(1rem, calc(3rem + 2vw), 5rem);
  --h2-hero-font-size: clamp(1rem, 4vw, 3rem);
  --h2-font-size: clamp(2rem, 4vw, 3rem);
  --h3-font-size: clamp(1.75rem, 4vw, 2.5rem);
  --subh3-font-size: clamp(1rem, 4vw, 1.25rem);
  --card-title-font-size: clamp(1.25rem, 4vw, 2.5rem);
  --home-buttons-font-size: clamp(1.125rem, 4vw, 1.125rem);
  --title-font-size: clamp(1.75rem, 4vw, 2.5rem);
  --h4-font-size: clamp(1rem, 1vw, 1.25rem);
  --p-font-size: clamp(1rem, 1.5vw, 2rem);
  --nav-link-font-size: clamp(1rem, 1.5vw, 1rem);
  --text-font-size: clamp(1rem, 1.5vw, 1.125rem);

  --font-primary: "Sanchez", "Manrope", "Gill Sans MT", sans-serif;
  --font-secondary: "Inter", "Manrope", "Gill Sans MT", sans-serif;
  --font-tertiary: "Overpass Mono", "Gill Sans MT", sans-serif;

  /* --header-height: 7.5rem; */

  /* ===== Z-index scale ===== */
  --z-base: 0;
  --z-logo: 1;
  --z-slide-pages: 10;
  --z-popup: 20;
}

::selection {
  background-color: var(--color-primary);
  color: black;
}

/* Voor Firefox */
::-moz-selection {
  background-color: var(--color-primary);
  color: black;
}

/* ===== RESET & BASE STYLES ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  scrollbar-gutter: auto;
  scrollbar-color: #888 var(--color-bg);
  scrollbar-width: normal;
  background: transparent;
} */

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
  width: 0; /* Zorgt ervoor dat de ruimte ook verdwijnt */
}

/* 2. Verbergt de scrollbar in Internet Explorer, Edge, en Firefox */
body,
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* =========================================
2. Voor Chrome, Edge, Safari (Webkit)
=========================================
*/

/* Breedte van de scrollbar */
/* ::-webkit-scrollbar {
  width: 0.75rem;
} */

/* Achtergrond van de scrollbar (de 'track') */
/* ::-webkit-scrollbar-track {
  background-color: var(--color-bg);
} */

/* De schuifbalk zelf (de 'thumb') */
/* ::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888;
} */

/* html,
body {
  min-height: 120vh;
  overflow-y: auto;
} */

body {
  color: #b9b9b9;
  /* --sb-track-color: rgb(235, 235, 235);
  --sb-thumb-color: var(--color-primary); */
  /* --sb-size: 14px; */
  display: flex;
  flex-flow: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  /* background-color: #041819; */
  overflow-x: hidden;
  /* overflow-y: hidden; */
  background-color: #303847;
  font-size: 16px;
  /* overflow: hidden; */
  /* -ms-overflow-style: none; */
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.show .tagline-wrapper {
  opacity: 1;
}

.show .container .bg {
  opacity: 1;
}

/* body::-webkit-scrollbar {
  display: none;
} */

/* .footer-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: fixed;
  min-height: 20vh;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--color-primary);
  z-index: 10;
  padding-bottom: 1rem;
}

.footer-links {
  display: flex;
  width: 100%;
  padding: 3rem;
  height: 20vh;
  align-items: center;
  justify-content: space-around;
  border: 1px solid red;
} */
.layout-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
  height: auto;
}

/* #root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  z-index: 1;
  width: 100%;
  background-color: transparent;
  border: 1px solid red;
} */

.homepage {
  /* background-color: #303847;
  background-color: #191d24;
  background-color: #252b37; */
  background-color: #252b37;
  background-color: transparent;
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  /* flex-flow: column nowrap; */
  justify-content: space-evenly;
  /* position: relative; */
  height: calc(100vh - 6.5rem);
  z-index: 1;
  width: 100%;
  /* flex-grow: 1; */
  /* animation: animateGlow 10s ease infinite; */
  color: #f1efe0;
  color: #b9b9b9;
  background-color: #303847;
  /* overflow-y: hidden; */
  /* border: 1px solid blue; */
}

.about-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100%;
  /* border: 1px solid yellow; */
}

.blog-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100%;
  /* border: 1px solid yellow; */
}

/* .container-whatsapp-knop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
} */

/* .container-whatsapp-knop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 100;
  padding: 1em 1.5em;
  font: 500 0.825rem "IBM Plex Mono";
  text-decoration: none;
  background-color: transparent;
  border-radius: 50%;
  background-clip: padding-box;
  border-style: solid;
  border-width: 3px;
  border-image-slice: 1;
  margin-top: 1rem;
} */

/* .whatsapp-knop:focus {
  outline: none;
  border-color: none;
} */

/* .sol-signup-button {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.whatsapp-gradient {
  transition: all 0.4s ease-in-out;
  color: #fff;
  background: linear-gradient(to right, #20ff85, #02a16f);
  position: relative;
  overflow: hidden;
}

.container-whatsapp-knop {
  position: fixed;
  bottom: 1.5rem;
  right: 2rem;
  padding: 1em 1.5em;
  /* background: linear-gradient(to right, #20ff85, #02a16f); */
  padding: 0.825em 1.5em;
  text-wrap: nowrap;
  font: 500 normal 1rem "IBM Plex Mono";
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 2rem;
  visibility: hidden;
  z-index: 1000;
}

.container-whatsapp-knop a {
  font: 500 normal 1rem "IBM Plex Mono";
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;

  /* border: 1px solid red; */
}

.wrapper-whatsapp-knop {
  z-index: 2;
  position: relative;
}

.container-whatsapp-knop::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  background: linear-gradient(to right, #02a16f, #20ff85);
  z-index: 1;
}

.container-whatsapp-knop:hover::before,
.container-whatsapp-knop:active::before {
  opacity: 1;
}

/* .wrapper-whatsapp-knop {
  text-transform: uppercase;
  font: 500 1rem "IBM Plex Mono";
  z-index: 2;
  position: relative;
} */

/* .whatsapp-knop {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0.5px solid gray;
  backdrop-filter: blur(6px);
} */

/* .whatsapp-knop:hover {
  background-color: rgba(128, 128, 128, 0.134);
} */

.whatsapp-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.75rem;
}

/*
  ========================================
  Header section
  ========================================
*/

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* .main {
  position: relative;
  z-index: 1;
  border: 1px solid yellow;
} */

/* section.section {
  width: 100%;
  height: 100vh;
} */

.header .container {
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  padding: 0 0rem;
  /* border: 1px dashed red; */

  /* background-image: linear-gradient(
    to top,
    rgba(104, 101, 99, 0.5),
    rgba(104, 101, 99, 0.5) 30%,
    rgba(70, 68, 67, 0.5)
  ); */
}

#flip {
  width: 100%;
}

.header {
  /* height: 6.5rem; */
  /* top: 0;
  left: 0;
  right: 0; */
  z-index: 10;
  /* background-color: #1e1e1e;
  background-color: #e0ff98;
  background-color: #686563; */
  width: 100%;
  /* flex-shrink: 0; */
  height: auto;
  /* border: 1px solid yellow; */
  /* background-color: rgba(70, 68, 67, 0.5); */
}

.header .container .bg {
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to top, #686563, #686563 30%, #464443);
  background-image: linear-gradient(to top, #374051, #232832 50%, #191d24);
  /* background-image: linear-gradient(to top, #303847, #232832 60%, #161a20); */

  /* background-image: linear-gradient(
    to top,
    rgba(104, 101, 99, 0.5),
    rgba(104, 101, 99, 0.5) 30%,
    rgba(70, 68, 67, 0.5)
  ); */
  /* opacity: 0; */
}

.new-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  /* border: 1px solid red; */
}

.new-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* border: 1px dashed blue; */
  background-color: transparent;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  cursor: pointer;
  z-index: 10;
}

.child1.is-refreshing {
  opacity: 0;
  animation: fadeInLogo 0.1s forwards; /* Hele korte delay */
  animation-delay: 0.05s;
}

@keyframes fadeInLogo {
  to {
    opacity: 1;
  }
}

/* .new-container2 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
} */

.tagline-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  overflow: visible;
  opacity: 0;
  color: #b9b9b9;
  padding-bottom: 0.5rem;
  /* border: 1px solid red; */
}
.tagline {
  text-align: center;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
  border: 1px solid var(--color-primary);
  /* box-shadow: inset 0 0 15px -5px var(--color-primary),
    0 0 15px -5px var(--color-primary); */
  box-shadow: 0px 0px 4px #00dc8083, 0px 0px 8px #00dc8083;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  letter-spacing: -0.05em;
  font-family: "MS Gothic", "Courier New", monospace;
  font-size: var(--sublogo-font-size);
  color: #bec6ab;
  color: #b9b9b9;
  /* visibility: hidden; */
  /* opacity: 0; */
}

.char {
  display: inline-block;
  /* z-index: 100; */
}

/* .new-container .logo {
  background-color: blue;
} */

li {
  list-style: none;
}

/* nav {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1rem;
} */

@media (min-width: 768px) {
  .new-container-wrapper {
    width: 25%;
    /* border: 1px solid yellow; */
  }
}

@media (min-width: 992px) {
  /* .header {
    height: 7.25rem;
  } */
  .homepage {
    height: calc(100vh - 7.25rem);
  }
}

/*.child1
  ========================================
  Hero section
  ========================================
*/

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* border: 1px solid red; */
  /* overflow-x: hidden;
  overflow-y: hidden; */
}

.original-container {
  display: flex;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 90%;
  height: auto;
  background-color: "transparent";
  visibility: hidden;
  z-index: 1 !important;
}

/* .logo-glow {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  
  transform: scale(1.2);
  filter: blur(4vw);


  background: linear-gradient(270deg, #0fffc1, rgba(0, 230, 104, 0.511));
  background-size: 200% 200%;

  animation: animateGlow 10s ease infinite;
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
} */

.child1 {
  width: 100%;
  height: 100%;
  position: relative;
}

@media (min-width: 992px) {
  .original-container {
    width: 60%;
  }
}

.mid-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;
  width: 100%;
  height: 100%; */
  /* Maak de container zo breed als de parent */
  width: 100%;
  /* margin-top: 1rem;
  margin-bottom: 1rem; */
  /* Laat de hoogte bepalen door de inhoud (height: 100% kan problematisch zijn) */
  /* De container neemt nu de hoogte van de overlappende elementen. */
  height: auto;
  /* border: 1px solid red; */
  opacity: 0;
}

.mid-text-sollicitant {
  width: 100%;
  text-align: center;
  pointer-events: none;
  /* border: 1px solid black; */
  /* opacity: 0; */
}

.mid-text-sollicitant h2 {
  font-family: "IBM Plex Mono";
  font-size: 1.5rem;
  /* text-transform: uppercase; */
  color: #b9b9b9;
  font-weight: 400;
  font: 500 normal 1.75rem "Inter", sans-serif;
  letter-spacing: -0.05em;
  /* line-height: 1.2; */
}

.mid-text-opdrachtgever {
  width: 100%;
  text-align: center;
  pointer-events: none;
  /* border: 1px solid red; */
}

.mid-text-opdrachtgever h2 {
  font-family: "IBM Plex Mono";
  font-size: 1.5rem;
  /* text-transform: uppercase; */
  color: #b9b9b9;
  font-weight: 400;
  font: 500 normal 1.75rem "Inter", sans-serif;
  letter-spacing: -0.05em;
  /* line-height: 1.5; */
  /* border: 1px solid blue; */
}

.mid-text-sollicitant {
  /* position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50%; */
  /* Gebruik padding op deze elementen om de gewenste 5rem ruimte erboven te creëren */
  /* padding-top: 2rem;
  padding-bottom: 2rem; */
  /* Zorg dat de breedte niet te ver uitloopt, maar centreert */
  text-align: center;
  width: 70%;
}

.icon2-wrapper {
  display: flex;
  position: absolute;
  width: 60%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: auto;
  background-color: "transparent";
  /* visibility: hidden; */
}

.icon2 {
  width: 100%;
  height: auto;
  z-index: -1;
}

/* @media (min-width: 768px) {
} */
@media (min-width: 992px) {
  .mid-text-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
  }
  .icon2-wrapper {
    width: 30%;
  }
}

.switch-container {
  display: flex;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: auto;
  background-color: "transparent";
}

.switch {
  position: relative;
  display: inline-block;
  width: 100px; /* 50px * 2 */
  height: 54px; /* 27px * 2 */
  border-radius: 54px; /* 27px * 2 */
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
  /* background-image: linear-gradient(
    45deg,
    hsl(223, 10%, 20%),
    hsl(223, 10%, 10%)
  ); */
  background-color: hsl(223, 10%, 10%);
}
.switch input {
  display: none;
}
.switch input:checked + div {
  /* (100% - 50px) -> 100% minus de nieuwe breedte van het binnenste balletje */
  left: calc(100% - 50px);
}
.switch div {
  position: absolute;
  width: 50px; /* 25px * 2 */
  height: 50px; /* 25px * 2 */
  border-radius: 50px; /* 25px * 2 */
  background-image: linear-gradient(
    45deg,
    hsl(223, 10%, 20%),
    hsl(223, 10%, 10%)
  );
  top: 2px; /* 1px * 2 */
  left: 0px;
  transition: all 0.4s;
}

/* .container-mid-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: max-content;
  gap: 2rem;
  z-index: -1;
  visibility: hidden;
} */

/* .sentence {
  overflow: hidden;
}

.sentence p {
  display: flex;
  white-space: nowrap;
  gap: 3rem;
  height: auto;
  will-change: transform;
  border: 1px solid yellow;
} */

/* .glyph {
  width: 25vw;
  height: auto;
  filter: saturate(1);
} */

/* TEST */

/* .images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: flex-start;
  justify-items: center;
}



img {
  max-width: 100%;
  height: 60vh;
  object-fit: cover;
} */
/* .hero-images {

  position: absolute;
  top: 0; 
  left: 0;
  height: calc(100vh - var(--header-height));
  width: 100%;
}

.box {
  position: absolute;
  z-index: 0;
  background-color: #1ca45b;
  width: 10vw; 
  height: 10vw;
} */

/* .follower {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 12px;
  border: 2px solid #f39;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-size: 50px;
  font-family: Staatliches, sans-serif;
  color: #f39;
  user-select: none;
  opacity: 0;
}

.cursor {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #f39;
} */

/* .child1 {
  /* width: 100%;
  height: auto; */
/* border: 1px solid yellow; */
/* } */

/* .child1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  text-shadow: 0 0 6px #1ca45b;
  font-size: var(--hero-logo-font-size);
  font-size: 8rem;
  font-family: var(--font-primary);
  font-weight: 400;
  letter-spacing: clamp(0.05em, 0.1vw, 0.1em);
  text-transform: uppercase;
  margin-bottom: clamp(0.75rem, 2vw, 0.75rem);
}



/* color: #3e79cc;
  color: #4a94f9; */
/* color: #e7e8e9; */

/* border-radius: 1.5rem 1.5rem 0rem 0rem; */
/* position: fixed;
  top: 0;
  left: 0; */
/* background-color: #2d353f; */
/* padding-bottom: 1rem;
  margin-bottom: 2rem; */

/* Flickering animation for VHS effect */
/* .flicker {
  animation: flicker 8s infinite;
}

@keyframes flicker {
  0% {
    opacity: 1;
  }
  3% {
    opacity: 0.8;
  }
  6% {
    opacity: 1;
  }
  7% {
    opacity: 0.9;
  }
  9% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  52% {
    opacity: 0.8;
  }
  54% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  96% {
    opacity: 0.7;
  }
  98% {
    opacity: 1;
  }
} */

/* header {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
} */
/* padding-top: 1rem; */

/* background-color: var(--color-bg); */
/* border-top: 0.125rem solid var(--color-primary); */
/* box-shadow: inset 0px 18px 16px 0 rgba(0, 0, 0, 0.3); */
/* box-shadow: inset 0 0 15px -5px var(--color-primary); */
/* 
.left-placeholder {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .logo-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  color: var(--color-secondary);
  text-align: center;
  justify-content: center;
  pointer-events: none;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  position: fixed;
  padding-top: 1rem;
  padding-bottom: 1rem;
 
} */
/* z-index: var(--z-logo); */
/* width: auto; */
/* border: 1px solid purple; */
/* padding-top: 1.5rem; */

/* line-height: 1.1cap; */
/* border: 1px solid yellow; */
/* padding-top: 1.5rem; */

/* .right-placeholder {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  
} */

/* .nav {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
} */

/* 

.menu-wrapper {
  display: flex;
  position: fixed;
  background-color: inherit;
  margin-right: 2rem;
  padding: 0.5rem;
}

.menu-toggle {
  position: relative;
  display: block;
  width: 2rem; 
  height: 2rem;
  color: white;
  font-size: 0;
  transition: all 0.25s ease-in-out;
  z-index: 10;
}

.menu-toggle img {
  width: 100%;
  height: 100%;
  display: block;
  transform-origin: center;
  transition: transform 0.3s ease;
}

.menu-toggle:hover {
  color: var(--color-primary);
}

.menu-toggle img {
  transform-origin: center;
  transition: transform 0.3s ease;
}

.menu-wrapper:hover .menu-toggle img {
  transform: rotate(90deg);
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}


/* .nav-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  pointer-events: none;
  position: relative;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
  pointer-events: auto;
  border: 1px solid red;
}

.nav-left-placeholder {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .sublogo-container {
  display: flex;
  position: relative;
  
} */
/* margin-bottom: 2rem;
  padding-bottom: 1rem; */
/* box-shadow: 0px 18px 16px 0 rgba(0, 0, 0, 0.3); */
/* border: 1px solid var(--color-primary); */
/* box-shadow: inset 0px 18px 16px 0 rgba(0, 0, 0, 0.3); */

/* .tagline-container {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  margin-top: clamp(0.75rem, 2vw, 1rem);
  
} */
/* border: 1px solid red; */
/* background-color: var(--color-bg); */

/* #headerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
} */

/* .header .logo h1 {
  margin-bottom: clamp(0.75rem, 2vw, 1rem);
  width: 100%;
} */

/*
  ========================================
  Main section
  ========================================
*/

/* .homepage-main {
  flex: 1 0 auto;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--color-primary);
  border-bottom: none;

  background-color: #86817f;
  background-color: transparent;
  height: calc(100vh - var(--header-height));
} */
/* border-radius: 1.5rem 1.5rem 0rem 0rem; */
/* margin-right: 2rem;
  margin-left: 2rem; */
/* background-image: linear-gradient(to bottom, #686563, #686563 50%, #464443); */

/* .homepage-main .intro .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* .homepage-main .intro .container h2 {
  font-size: var(--h2-font-size);
} */

/* .homepage-main .intro .container p {
  font-size: var(--)
} */

/* Teasers universele instellingen */

.left {
  background-image: url("../assets/background6.avif");
  position: relative;
}
/* background-color: rgb(32, 38, 51); */

/* box-shadow: 14px 2px 25px -8px rgba(0, 0, 0, 0.6) inset; */

.right {
  background-image: url("../assets/background7-kopie.jpg");
  position: relative;
}

/* Dit positioneert het tekstvak absoluut over de knop */
/* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

.centered-text {
  font-weight: 400;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 1px solid green; */
  will-change: transform;
}

.centered-subtext {
  font-family: var(--font-secondary);
  font-size: var(--home-buttons-font-size);
  font-weight: 800 normal;
  color: #b9b9b9;
  background-color: transparent;
  border: 0.5px solid gray;
  backdrop-filter: blur(6px);
  /* background-color: #b9b9b9; */
  border-radius: 0.25rem;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 0.5em 2em;
  will-change: transform;
  /* color: var(--color-primary);
  color: #20ff85; */
}

.centered,
.centered-text,
.centered-hoofdtext,
.centered-subtext {
  /* Negeert alle muisevents op deze elementen */
  pointer-events: none;
}

.highlight {
  color: var(--color-primary);
  /* color: #03e29c;
  color: #02a16f; */
  /* text-shadow: 0 0 2px #1ca45b; */
}

/* ============= Teasers swiper (mobile/ tablet) ============= */

/* CONTAINER */

.teasers-container-swiper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-around;
  /* padding-top: 2rem;
  margin-top: 5rem;
  padding-bottom: 2rem; */
  width: 100%;
  background-color: transparent;
  /* border: 1px solid white; */
  visibility: hidden;
  /* height: calc(100vh - var(--header-height) - var(--mid-text-container-height)); */
}

/* SWIPER */

.mySwiper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  /* border: 3px solid black; */
  position: relative;
  --swiper-pagination-color: #1ca45b;
  /* overflow: visible !important; */
}

.mySwiper .swiper-wrapper {
  /* border: 1px solid yellow; */
  width: 100%;
}

.mySwiper {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px dotted blue; */
  width: 100%;
  /* padding: 3rem;
  margin: 5rem; */
}

/* WRAPPER & SLIDES */

/* .swiper-wrapper {
  border: 1px solid yellow;
} */

.teasers-container-swiper .swiper-wrapper {
  display: flex;
  /* align-items: stretch; */
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px dotted yellow; */
}

.teasers-container-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  /* border: 1px solid black; */
}

/* .swiper-slide {
  border: 1px solid yellow;
} */

/* TEASERS */

.teaser-swiper {
  border: none;
  color: var(--color-secondary);
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
  height: auto;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-bg);
  background-size: cover;
  box-shadow: 18px 18px 16px 0 rgba(0, 0, 0, 0.3);
  background-size: auto 100%;
  border-radius: 2vw;
  will-change: transform;
  /* border: 1px solid orange; */
}

/* .swiper-slide-active {
  border-radius: 2vw;
  border: 2px solid var(--color-primary);
} */

/* PAGINATION */

.mySwiper .swiper-pagination {
  position: static;
  margin-top: clamp(1rem, 2vw, 3rem);
  text-align: center;
  /* border: 1px solid green; */
}

/* @media (min-width: 480px) and (max-width: 767px) {
  .split {
    min-height: 40vh;
  }
} */

@media (min-width: 768px) {
  .teasers-container-swiper .swiper-wrapper {
    width: 60%;
  }
  .teasers-container-swiper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    /* margin-top: 3rem; */
  }

  /* .hero {
    padding-bottom: 6rem;
  } */
  .swiper-slide {
    margin-top: 0rem;
    margin-bottom: 0rem;
    /* padding-left: 5rem;
    padding-right: 5rem; */
  }
  .mySwiper {
    align-items: flex-start;
    width: 70%;
  }
  .teaser-swiper {
    cursor: pointer;
    margin: 3rem;
  }
}

/* .teasers-container .buttons .left,
  .teasers-container .buttons .right {
    opacity: 0;
    visibility: hidden;
  } */

/* .left:hover {
    background-color: var(--color-bg);
    border: 2px solid var(--color-primary);
  }

  .right:hover {
    background-color: var(--color-bg);
    border: 2px solid var(--color-primary);
  } */

/* @media (min-width: 1280px) {
  .split-container {
    gap: 4rem;
  }
  .split {
    max-height: 60vh;
  }
} */

/*
  ========================================
  Footer section
  ========================================
*/

/* footer {
  border: 1px solid yellow;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-bg);
  padding-top: 1.5rem;
} */

.footer-container {
  position: relative;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  /* border: 1px solid #333; */
  color: #aaa;
  overflow: hidden;
  flex-direction: column;
  /* margin-top: auto; */
  font-family: "MS Gothic", "Courier New", monospace;
  flex-shrink: 0;

  /* border: 1px solid blue; */
}

.footer-content {
  display: flex;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 0.875rem;
  background-color: #e0ff98;
  background-color: #1e1e1e;
  background-color: #e7e8e9;
  color: var(--color-secondary);
  text-align: center;
  padding: 1rem 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  /* border: 1px solid green; */
}

.footer-content-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid red; */
}

.icon-greenlights {
  width: 30px;
  height: 30px;
  /* filter: drop-shadow(0 0 8px #00ff88) drop-shadow(0 0 16px #00ff88); */
  /* border: 1px solid green; */
}

/* .ascii-art {
  font-size: 12px;
  line-height: 12px;
  white-space: pre;
  color: #666;
  text-shadow: 0 0 5px rgba(100, 100, 100, 0.3);
  margin-right: 15px;
} */

.footer-content-center {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.footer-text h3 {
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #b0b0b0;
  font-family: monospace;
}

.card-contact {
  position: relative;
}

.button-contact {
  /* display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0.75rem;
  background: linear-gradient(to right, #11998e, var(--color-primary));
  color: var(--color-primary);
  font-family: monospace;
  color: var(--color-header);
  cursor: pointer;
  position: relative;
  margin-bottom: 1rem;
  border: none;
  gap: 0.25rem; */
  width: 6rem;
  height: 2.5rem;
  transition: 0.4s;
  /* border-radius: 9999px; */
  position: relative;
  border: 0.0625rem solid var(--color-primary);
  border-radius: 0.5rem;
}

.texts {
  display: flex;
  justify-content: space-between;
  border-top: 1px dashed rgb(72, 72, 72);
  font: 500 normal 0.9vw / normal "Inter";
  text-transform: uppercase;
}

.footerTest {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.firstRow {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding-top: 1rem;
  font: 500 normal 1rem / normal "Inter";
}

.container-secRow {
  display: flex;
}

.container-contact {
  display: flex;
}
.secRow {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  font: 400 normal 15px / normal "Inter", sans-serif;
  letter-spacing: -0.03em;
  /* border: 1px solid green; */
}
.secRow ul {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.secRow ul li {
  display: flex;
  gap: 15px;
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 18px 25px;
  cursor: pointer;
}

.secRow ul li a {
  text-decoration: none;
  color: inherit;
}

.secRow ul li:hover {
  color: var(--color-primary);
  background-color: rgba(128, 128, 128, 0.134);
}

.secondRow {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  font: 500 normal 1rem / normal "Inter";
}

.thirdRow {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px dashed rgb(72, 72, 72);
  margin: 1vw 0;
  padding: 2vw 2vw 0;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  font: 500 normal 1rem / normal "Inter";
}

.ronde-knop {
  border-radius: 50%;
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0.5px solid gray;
  backdrop-filter: blur(6px);
}

.ronde-knop:hover {
  background-color: rgba(128, 128, 128, 0.134);
}

.linkedin-icon {
  width: 2rem;
  height: 2rem;
}

.insta-icon {
  width: 2rem;
  height: 2rem;
}

/* .button-contact:before {
  content: "";
  position: absolute;
  background: conic-gradient(
      from 0deg,
      transparent 40deg,
      rgba(255, 255, 255, var(--glint-opacity, 0.6)) 80deg,
      rgba(255, 255, 255, var(--glint-opacity-peak, 0.7)) 90deg,
      rgba(255, 255, 255, var(--glint-opacity, 0.6)) 100deg,
      transparent 150deg
    ),
    radial-gradient(circle, #565656 0% 100%);
  animation: border-spin var(--animation-duration) linear infinite;
  z-index: 1;
  border-radius: 50%;
  transition: scale 0.1s ease-out;
} */

.card-contact .button-contact.button-contact1 {
  position: relative;
  width: 6rem;
  height: 2.5rem;
  /* background: #888; */
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  transform: translateY(1.25rem);
  box-shadow: inset 0 0 60px whitesmoke;
  /* box-shadow: inset 0 0 60px whitesmoke, 0 0 15px -5px var(--color-primary); */
  box-shadow: 0 0 15px -5px var(--color-primary);
  box-shadow: 18px 18px 16px 5px rgba(0, 0, 0, 0.2);
}

.card-contact:hover .button-contact.button-contact1 {
  transform: translateY(0);
}

.button-contact.button-contact1 .content-contact {
  /* opacity: 0.2; */
  transition: 0.5s;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  /* border: 1px solid red; */
}

.button-contact.button-contact2 .content-contact {
  /* opacity: 0.2; */
  transition: 0.5s;
  text-align: center;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
}

.content-contact a {
  transition: 0.5s;
}

.content-contact span {
  font-size: 1rem;
  color: #b0b0b0;
}

.content-contact img {
  width: 1rem;
  height: 1rem;
}

.button-contact.button-contact2 {
  position: relative;
  /* background-image: linear-gradient(
    to right,
    #316449,
    #37694e,
    #3e6d54,
    #447259,
    #4a775f
  ); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
  transform: translateY(-1.25rem);
}

.card-contact:hover .button-contact.button-contact2 {
  transform: translateY(0);
}

/* .button-contact::after {
  content: "";
  border: 2px solid var(--color-header);
  border-radius: 50px;
  height: calc(100% - 8px);
  width: calc(100% - 8px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
} */

/* .button-contact::before {
  content: "";
  position: absolute;

  width: 100%;
  height: auto;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
} */

/* .button-contact:hover::before {
  animation: spin linear 2s infinite;
} */

/* .button-contact::after {
  content: "";
  position: absolute;

  width: calc(100% - 3px);
  height: calc(100% - 3px);
} */

/* .button-contact span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1rem;
  text-transform: uppercase;
  z-index: 1;
}

.button-contact:hover span {
  transform: translateY(0);
} */

.icon-arrow {
  z-index: 1;
  width: 1rem;
  height: 1rem;
}

.footer-text p a {
  color: #888;
  font-size: 0.75rem;
  text-decoration: none;
}

.footer-content-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 1px solid red; */
}

.contact-icon-wrapper {
  display: flex;
  position: relative;
  right: 0;
  bottom: 2.25rem;
  background-color: inherit;
  margin-right: 1rem;
  padding: 0.5rem;
  /* border: 1px solid red; */
}

.contact-icon {
  position: relative;
  display: block;
  width: 2rem; /* Bepaal de grootte van het klikgebied */
  height: 2rem;
  color: white;
  font-size: 0;
  transition: all 0.25s ease-in-out;
  z-index: 10;

  /* border: 1px solid yellow; */
}

.contact-icon img {
  /* Zorg ervoor dat de afbeelding de link-container vult */
  width: 100%;
  height: 100%;
  display: block;
  transform-origin: center;
  transition: transform 0.3s ease;
}

/* Links styling */
.sesh-links {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.sesh-link {
  color: #b0b0b0;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* transition: color 0.3s, text-shadow 0.3s; */
  padding: 2px 4px;
}

.sesh-link:hover {
  color: #b0b0b0;
  /* text-shadow: 0 0 5px rgba(100, 100, 100, 0.5); */
}

/* Separator pipes between links */
.sesh-link:not(:last-child)::after {
  content: "|";
  margin-left: 8px;
  color: #333;
}

/* The scrolling marquee-like text at bottom */
.footer-ticker {
  display: flex;
  width: 100%;
  position: relative;
  height: 2.5rem;
  align-items: center;
  border-top: 1px solid #1ca45b;
  /* border-bottom: 1px solid var(--color-primary); */
  background-color: transparent;
  /* box-shadow: inset 0 0 15px -5px var(--color-primary),
    0 0 15px -5px var(--color-primary); */
  /* overflow: hidden; */

  /* border: 1px solid red; */
}

.ticker-content {
  white-space: nowrap;
  animation: scroll-left 35s linear infinite;
  font-weight: 600;
  color: white;
  font-size: var(--nav-link-font-size);
  font-family: "MS Gothic", "Courier New", monospace;
  /* background-image: linear-gradient(
    115deg,
    rgb(235, 89, 81) 14%,
    white 50%,
    #00dbff 94%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text; */
  color: #4a94f9;
  color: gray;
}

/* Animations */
/* @keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
} */

/* SOLLICITANT EN OPDRACHTGEVER PAGINA */

.sol-page {
  /* padding: 0 120vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  /* padding: 0 100vw; */
  background-color: #303847;
  /* background-color: #9597a7; */
  /* background-color: #d9dadb; */
  /* visibility: hidden; */
  /* color: #202b40; */
  /* color: #151515; */
  font-size: var(--text-font-size);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  z-index: 100;
  height: auto;

  /* border: 1px solid red; */
}

.nav-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 100;
  list-style: none;
  /* padding: 0; */
  margin: 0;
}

.nav-bar button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: var(--text-font-size);
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 500;
  line-height: 1.5;
}

/* .nav-bar button:hover {
  color: var(--color-primary);
} */

.nav-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Iets minder gap zodat de balken mooi aansluiten */
  top: 50%;
  transform: translateY(-50%);
  /* right: 20px; */
  /* padding: 10px; */
}

.nav-bar button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  color: #aaabb8;
  font-family: "IBM Plex Mono", sans-serif;
  padding: 12px 24px;
  font-size: 16px;
  z-index: 10; /* Zorgt dat tekst BOVEN de marker staat */
  transition: color 0.3s ease;
  white-space: nowrap;
}

/* De Glijdende Balk */
.marker {
  position: absolute;
  inset: 0; /* Vult de hele button */
  background-color: #2b313d; /* Half doorzichtig groen */
  border-radius: 8px 0 0 8px; /* Afgeronde hoeken voor de balk */
  border-right: 2px solid #28a745; /* Optioneel: een feller lijntje aan de zijkant */
  z-index: -1; /* Achter de tekst */
  padding: 1rem;
}

/* Kleuren van de tekst */
/* .nav-bar button.active {
  color: #ffffff;
} */

.nav-bar button.selected {
  color: #28a745;
  z-index: 10;
}

.nav-bar button.active,
.nav-bar button.is-clicked {
  color: #00ff00; /* // Of jouw specifieke groene hex-code */
  /* transition: color 0.3s ease; */
}

.nav-bar button:not(.active) {
  z-index: 100;
}

/* .nav-bar button.active {
  color: #28a745;
} */

.button-text {
  position: relative;
  z-index: 10000; /* Hoger dan de marker (die is -1 of 1) */
  pointer-events: none; /* Klikken gaat door de span heen naar de button */
}

.photo-solpage {
  width: 25vw;
  height: auto;
  filter: saturate(1);
}

/* BUTTON TERUG NAAR HOMEPAGE */
.sol-home-button-wrapper,
.opd-home-button-wrapper {
  display: flex;
  width: 80%;
  align-items: center;
  /* border: 1px solid yellow; */
}

.sol-title,
.opd-title {
  display: flex;
  width: 70%;
  font-size: var(--title-font-size);
  font-family: "IBM Plex Mono", sans-serif;
  margin-bottom: 1.5rem;
  color: var(--color-primary);
  /* border: 1px solid yellow; */
  line-height: 1;
  margin-top: 0.75rem;
}
.sol-home-button-container,
.opd-home-button-container {
  /* margin: 40px;
  height: 80px;
  width: 80px; */
  border-radius: 100%;
  border: 0px solid var(--color-primary);
  /* padding-bottom: 10px; */
  color: var(--color-primary);
  z-index: inherit;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 0.5rem;
  /* border: 1px solid red; */
}

.sol-home-button-wrapper {
  justify-content: flex-end;
}

.opd-home-button-wrapper {
  justify-content: flex-start;
}

.sol-home-button,
.opd-home-button {
  margin-right: -7px;
  margin-left: -7px;
  height: 35px;
  width: 35px;
  background: linear-gradient(to right, #20ff85, #02a16f);
  border: 0px solid var(--color-primary);
  border-radius: 0%;
  clip-path: polygon(60% 0%, 85% 0%, 35% 50%, 85% 100%, 60% 100%, 10% 50%);
  /* transition: all 0.3s ease; */
}

/* .sol-home-button-container:hover {
  color: var(--color-tertiary);
  border: 0px solid var(--color-tertiary);
  transform: translateX(-10px);
} */

.opd-home-button {
  transform: rotate(180deg);
}

.sol-content {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  width: 80%;
  /* border: 1px solid green; */
  margin-bottom: 0.25rem;
}

.sol-content h3 {
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--color-primary);
}

/* .checkmarks-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.checkmark-container {
  display: flex;
} */

.opd-page {
  /* padding: 0 120vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  /* will-change: transform; */
  /* padding: 0 100vw; */
  background-color: #303847;
  background-color: transparent;
  /* background-color: #9597a7; */
  /* background-color: #d9dadb; */
  /* visibility: hidden; */
  /* color: #202b40; */
  /* color: #151515; */
  font-size: var(--text-font-size);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  z-index: 100;
  height: auto;
}

.inline-nav {
  position: fixed;
  top: 30;
  height: auto;
  width: 100%;
  margin: 0;
  padding: 1rem 10px;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
}

.belofte-client {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.opd-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  /* border: 1px solid green; */
  margin-bottom: 0.25rem;
}

.opd-content h3 {
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(--color-primary);
}

.sol-title,
.opd-title,
.info-title,
.info-title-wie {
  font-family: "IBM Plex Mono", sans-serif;
  font-size: var(--title-font-size);
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: var(--color-primary);
  text-transform: uppercase;
  /* border: 1px solid yellow; */
  line-height: 1;
}

.info-title-wie {
  margin-top: 5rem;
  width: 70%;
  line-height: 1.5;
}

.checkmark {
  display: inline-block;
  height: 20px;
  width: 10px;
  transform: rotate(45deg);
  margin: 0px 10px 0px 5px;
  border-bottom: 5px solid var(--color-primary);
  border-right: 5px solid var(--color-primary);
  margin-right: 1rem;
}

.sol-button-wrapper,
.opd-button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* border: 1px solid red; */
}

.opd-button-wrapper .button-container,
.sol-button-wrapper .button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container h4 {
  text-transform: uppercase;
  font: 500 1rem "IBM Plex Mono";
}

.meer-weten-container h4 {
  text-transform: uppercase;
  font: 500 1rem "IBM Plex Mono";
}

.sol-signup-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid yellow;
}

.sol-signup-button {
  padding: 1em 1.5em;
  font: 500 0.825rem "IBM Plex Mono";
  /* text-transform: uppercase; */
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  border-width: 3px;
  border-image-slice: 1;
  margin-top: 1rem;
  border-image-source: linear-gradient(to right, #20ff85, #02a16f);
  cursor: pointer;
}

.sol-signup-button:focus {
  outline: none;
  border-color: none;
}

.meer-weten-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meer-weten-pijl-container {
  display: flex;
  /* margin: 40px; */
  height: 80px;
  width: 80px;
  border-radius: 100%;
  border: 0px solid var(--color-primary);
  padding: 5px;
  /* padding-bottom: 10px; */
  color: var(--color-primary);
  z-index: inherit;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  /* cursor: pointer; */
  /* transition: all 0.3s ease; */
  transform: rotate(270deg);
}

/* .opd-home-button-container {
  right: 87%;
  left: 0%;
} */

.meer-weten-pijl {
  margin-right: -7px;
  margin-left: -7px;
  height: 35px;
  width: 35px;
  background: linear-gradient(to right, #20ff85, #02a16f);
  border: 0px solid var(--color-primary);
  border-radius: 0%;
  clip-path: polygon(60% 0%, 85% 0%, 35% 50%, 85% 100%, 60% 100%, 10% 50%);
  transition: all 0.3s ease;
}

/* .meer-weten-pijl-container:hover {
  transform: translateX(-10px);
}

.meer-weten-pijl-container:hover .meer-weten-pijl {
  background-color: var(--color-tertiary);
} */

@media (min-width: 376px) {
  .sol-content,
  .opd-content {
    width: 70%;
    margin-bottom: 2rem;
  }
  .sol-home-button-container,
  .opd-home-button-container {
    margin-top: 1rem;
  }
}
@media (min-width: 768px) {
  .sol-content,
  .opd-content {
    width: 50%;
  }
  .sol-title,
  .opd-title {
    margin-top: 0rem;
    width: 50%;
  }
  .sol-button-wrapper,
  .opd-button-wrapper {
    gap: 3rem;
    margin-top: 3rem;
  }
}

@media (min-width: 992px) {
  .sol-home-button-wrapper,
  .opd-home-button-wrapper {
    display: flex;
    width: 100%;
  }
  .sol-home-button-container {
    margin-right: 4rem;
  }

  .opd-home-button-container {
    margin-left: 4rem;
  }
  .sol-button-wrapper,
  .opd-button-wrapper {
    flex-direction: row;
    bottom: 1.5rem;
    gap: 5rem;
    margin-top: 0rem;
  }
}

.opd-close-button,
.info-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15px;
  width: 15px;
  cursor: pointer;
  padding: 20px;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  border-radius: 4px;
  border: solid 3px rgb(177, 5, 5);
  color: rgb(177, 5, 5);
}

.opd-close-button {
  border: solid 3px rgb(255, 7, 7);
  color: rgb(255, 7, 7);
}

.sol-close-button:hover,
.opd-close-button:hover,
.info-close-button:hover {
  border-radius: 3px;
  transform: rotate(90deg);
  background-color: rgb(177, 5, 5);
  color: var(--color-secondary);
}

.opd-close-button:hover {
  background-color: rgb(255, 7, 7);
  color: var(--color-tertiary);
}

.sol-form,
.opd-form {
  font-family: "Inter", sans-serif;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-tertiary);
}

.big-textbox {
  height: 90px;
  max-height: 150px;
  vertical-align: top;
  text-align: left;
  padding: 5px;
  width: 100%;
  resize: vertical;
  box-sizing: border-box;
  color: var(--color-tertiary);
  border: 1px solid rgb(228, 228, 228);
}

.sol-form input[type="text"],
.sol-form input[type="email"],
.sol-form input[type="tel"],
.opd-form input[type="text"],
.opd-form input[type="email"],
.opd-form input[type="tel"] {
  padding: 5px;
  width: 100%;
  color: var(--color-tertiary);
  border: 1px solid rgb(228, 228, 228);
}

.sol-form input[type="submit"],
.opd-form input[type="submit"] {
  height: 35px;
  border: 3px solid var(--color-primary);
  background-color: var(--color-primary);
  border-radius: 25px;
  width: 100%;
  text-align: center;
  color: var(--color-secondary);
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease !important;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.sol-form input[type="submit"]:hover,
.opd-form input[type="submit"]:hover {
  border: 3px solid rgb(3, 211, 96);
  background-color: rgb(3, 211, 96);
}

.modal {
  display: none;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(2px);
}

.modal-content {
  border-radius: 5px;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  width: 400px;
  height: auto;
  top: 0px;
  right: 0;
  /* transform: translateX(0%); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: slideIn 1s ease;
}

@keyframes slideIn {
  0% {
    transform: translateX(300%);
  }

  100% {
    transform: translateX(0%);
  }
}

.close {
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  height: 10px;
  width: 10px;
  cursor: pointer;
  padding: 10px;
  font-size: 15px;
  transition: all 0.3s ease;
  border-radius: 4px;
  border: solid 2px rgb(177, 5, 5);
  color: rgb(177, 5, 5);
}

.close:hover,
.close:focus {
  border-radius: 3px;
  transform: rotate(90deg);
  background-color: rgb(177, 5, 5);
  color: var(--color-secondary);
}

.modal-header {
  font-family: "Inter", sans-serif;
  border-bottom: solid 2px var(--color-primary);
  text-transform: uppercase;
  font-weight: 100;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  font-size: 15px;
  height: 40px;
  padding: 10px;
  color: var(--color-primary);
}

.modal-body {
  padding: 2px 16px;
  color: var(--color-secondary);
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

/* ANIMATIONS */
/* @keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  60% {
    opacity: 1;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeUpTagline {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes arrows-animation {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
} */

@media (max-width: 768px) {
  .arrow span {
    opacity: 1;
    animation: none;
  }

  .arrow {
    opacity: 1;
  }

  .arrow-container {
    margin: 20px;
  }
}

/* INFO PAGINA */

/* .info-page {
  border: 3px solid yellow;
} */

/* .info-container-hoe .scroll {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.info-title-test {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  text-align: center;
  pointer-events: none;
  /* border: 1px solid red; */
  /* visibility: hidden; */
}

.info-title-test h2 {
  font-family: "IBM Plex Mono";
  font: 500 normal 6vw / normal "IBM Plex Mono";
  color: rgb(0, 230, 104);
  line-height: 1.2;
  text-transform: uppercase;
  /* border: 1px solid red; */
}

/* .info-container-test {
  border: 1px solid green;
} */

/* .info-container {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: #303847;
} */

.info-container-hoe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 10rem;
  border: 1px solid blue;
}

.info-container-hoe .container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%; */
  /* background-color: #303847; */
  /* temp */
  /* border: 1px solid green; */
}

/* .cards {
  margin-left: 100px;
} */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 2vw;
  margin-bottom: 3rem;
  background-color: #232934;
  background-color: transparent;
  backdrop-filter: blur(30px);
  border: 1px solid var(--color-primary);
  border: 1px solid rgb(211, 199, 185);
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 2rem; */
  gap: 1rem;
  width: 80%;
  height: 100%;
  will-change: transform;
}

.card-content span {
  margin-bottom: 1rem;
}

.card-content h3 {
  display: flex;
  margin-bottom: 2rem;
  font-family: "Inter";
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  color: var(--color-primary);
  font-size: var(--card-title-font-size);
  line-height: 1.1;
}

.card-content p {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: var(--p-font-size);
  color: #b9b9b9;
  line-height: 1.5;
}

.card {
  height: 90%;
  width: 90%;
  margin-bottom: 3rem;
  background-color: #232934;
  background-color: transparent;
  backdrop-filter: blur(30px);
  border: 1px solid var(--color-primary);
  border: 1px solid rgb(211, 199, 185);
  margin: 0 auto 3rem auto;
}

.container2 {
  margin-top: 40px;
  background: transparent;
  width: 100%;
  height: 400px;
}

@media (min-width: 992px) {
  .card-content {
    width: 70%;
  }
}

/* Over ons */

.info-container-effect .pin-height {
  height: 400vh;
  /* border: 1px solid red; */
}

.info-container-effect .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100vh;
  /* border: 1px solid black; */
}

.alineas {
  display: flex;
  flex-direction: column;
  width: 80%;

  /* border: 1px solid yellow; */
}

.info-container-effect .alinea {
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  font-size: var(--p-font-size);
  font-family: "Inter", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #b9b9b9;
}

.info-container-effect .first {
  position: relative;
  overflow: hidden;
  flex-wrap: wrap;
  font-size: var(--p-font-size);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  color: #b9b9b9;
  /* border: 1px solid green; */
  /* border: 1px solid green; */
}

.info-container-effect .second {
  margin-top: 2rem;
}

.info-container-effect .third {
  margin-top: 2rem;
}

/* .info-title-wie {
} */

.card1 {
  background-color: #2f7e65;
}
.card2 {
  background-color: #e0ff98;
}
.card3 {
  background-color: #4a94f9;
}
.card4 {
  background-color: rgb(153, 153, 153);
}
.card5 {
  background-color: #02a16f;
}

.card p {
  color: rgb(228, 228, 228);
}
.card2 p {
  color: rgb(114, 114, 114);
}

.card3 h3 {
  color: #20ff85;
}
.card3 p {
  color: #264a7c;
}

@media (min-width: 992px) {
  .card {
    height: 40%;
    width: 40%;
  }
  .info-container-effect .pin-height {
    height: 400vh;
    /* border: 1px solid red; */
  }
  .info-container-effect .info-container {
    flex-direction: column;
    height: 100vh;
    /* border: 1px solid red; */
  }

  .alineas {
    flex-direction: row;
    padding: 4rem;
    gap: 5rem;
    width: 100%;
    /* border: 1px solid yellow; */
  }

  .info-container-effect .alinea {
    flex: 1;
    /* border: 1px solid green; */
  }

  .info-container-effect .first {
    flex: 1;
  }
  .info-container-effect .second {
    margin-top: 5rem;
  }

  .info-container-effect .third {
    margin-top: 10rem;
  }
}

.info-container-missievisie {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  /* border: 1px solid green; */
}

.info-missievisie-svg {
  width: 100%;
}

@media (min-width: 992px) {
  .info-missievisie-svg {
    width: 70%;
  }
  .info-container-missievisie {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 150vh;
    padding-bottom: 4rem;
    /* border: 1px solid green; */
  }
}

/*
  ========================================
  Artikelen section
  ========================================
*/

.artikelen-container {
  width: 100%;
  height: 100vh;
  /* border: 1px solid yellow; */
}

.artikelen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 32px; /* Dit is je 'gap={8}' in de oude code */
  /* Gebruik hier de 90% breedte van de parent */
  width: 90%;
  margin: 0 auto; /* mx="auto" */
  justify-content: flex-start;
  background-color: transparent;
  border: 0.5px solid gray;
  backdrop-filter: blur(6px);
  /* border: 1px solid red; */
}

.artikel {
  flex: 0 0 100%;
}

@media (min-width: 768px) {
  .artikelen {
    width: 80%;
  }
  .artikel {
    /* Formule voor 3 kolommen met een gap van 32px:
           100% / 3 - (2 * 32px / 3) = 33.333% - 21.333px */
    flex: 0 0 calc(33.333% - 21.333px);
    /* border: 1px solid green; */
  }
}

.layout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
